/*
 *全局设置
 * */
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
*{
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin: auto;
	padding: 1px;
}
body{
	font-family: "微软雅黑";
	/*height: 1400px;*/
}
ul{
	list-style-type: none;
	padding: 0;
}
figure{
	margin: 0;
}
a{
	text-decoration: none;
	color: #fff;
}

/*
 *字体样式 googlefont
 * */
/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../font/googlefont/m0Shgsxo4xCSzZHO6RHWxBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../font/googlefont/6RfRbOG3yn4TnWVTc898ERTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../font/googlefont/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*
 header部分
 * */
header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	padding: 20px 0px;
	background-color:rgba(0,0,0,0);
	transition: background-color .5s,padding .5s;
}
header.on{
	padding: 7px 0px;
	background-color:rgba(0,0,0,.8);
}
header .container{
	padding: 5px 0;
	max-width: 1200px;
	margin: auto;
}
header .logo{
	display: inline-block;
	float: left;
}
header .logo span{
	font-size: 3em;
	font-family: 'Pacifico', cursive;
}
header .logo img,
header .logo span{
	vertical-align: middle;
}
header .topMenu{
	float: right;
	margin-top: 5px;
}
header .topMenu ul li{
	float: left;
	margin: 0px 20px;
}
header .topMenu ul li a{
	text-shadow: 1px 1px 3px  rgba(0,0,0,.5);
}
header .topMenu li.active a,
header .topMenu li a:hover{
	color: #339BEB;
}
/*
 首页部分
 * */
.banner{
	background: url(../img/banner.jpg) center top no-repeat;
}
.banner .text{
	color: #fff;
	max-width: 800px;
	height: 180px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	line-height: 1.8;
}
.banner .text h1{
	text-align: center;
}
.banner .text h1 strong{
	color: #339BEB;
}
.banner .text p strong{
	color: #000;
	background: rgba(255,255,255,.5);
	font-weight:normal;
	padding: 4px;
}
/*
 * 关于我们的设置
 * */
section{
	min-height: 400px;
}
section h2{
	text-align: center;
	margin-top: 50px;
}
section h2+p{
	text-align: center;
	margin-bottom: 80px;
}
.about{
	height: 550px;
}
.about .img{
	float: left;
	width: 48%;
}
.about .img img{
	width: 100%;
}
.about .note{
	float: right;
	width: 48%;
	line-height: 2;
}
.about .note p:first-child{
	margin-top: 0;
}
.about .note ol{
	padding: 0;
	list-style: none;
	counter-reset: liCounter;
}
.about .note ol li{
	counter-increment: liCounter;

}
.about .note ol li::before{
	content: counter(liCounter);
	border: 1px dashed #000;
	border-radius: 100%;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 20px;
	transition: transform .5s;
}
.about .note ol li:hover::before{
	transform: translatex(20px);
	/*margin-right: 0;*/
}
/*
 * 服务
 * */
.service{
	background: url(../img/desktop.jpg) center center;
	min-height: 600px;
	background-size: cover;
}
.service li{
	float: left;
	width: 48%;
	text-align: right;
	margin-right: 4%;

}
.service li i{
	float: right;
	padding: 5px 0px 5px 30px;
}
.service li:hover i{
	color: #339BEB;
	transform: scale(1.2);
		transition: transform .5s,color .5s;
}
.service li h3{
	display: inline-block;
	margin: 0;
}
.service li:nth-child(2n){
	text-align: left;
	margin: 0;
}
.service li:nth-child(2n) i{
	float: left;
	padding: 5px 30px 5px 0px;
}
/*
 * 案例
 * */
.case{
	margin-bottom: 100px;
}
.case .container p a{
	color: #339BEB;
}
.case figure{
	float: left;
	overflow: hidden;
	width: 24%;
	margin: 10px calc(4% / 3) 10px 0px;
	position: relative;
	cursor: pointer;
}
.case figure:nth-child(4n){
	margin-right: 0;
}
.case figure img{
	width: 100%;
	height: auto;
	transform: scale(1) rotate(0deg);
	transition: transform .5s;
	vertical-align: top;
}
.case figure:hover img{
	transform: scale(1.2) rotate(0deg);
}
.case figcaption{
	position: absolute;
	top: 50%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	padding: 10px;
	
	background-color: rgba(255,255,255,.8);
}
.case figcaption .time{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	text-align: center;
	background-color: #339BEB;
	/*font-size: 0.8em;*/
}
.case figure figcaption .time .month{
	background-color: rgba(0, 0, 0, 0.1);
}
.case figure figcaption h3{
	margin: 5px 0px 0px 70px;
}
.case figure figcaption p{
	line-height: 1.5;
	font-size: 0.8em;
}
.case figure figcaption .data{
	position: absolute;
	height: 20px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.2);
	text-align: right;
	font-size: 0.8em;
}
.case figure figcaption .data *{
	padding: 0px 2px;
}
/*
 * 联系我们
 */
.contact{
	background: url(../img/android-1869510_1920.jpg) no-repeat center top ;
	background-size: cover;
	color: #fff;
	height: 500px;
}
.contact .left{
	width: 48%;
	float: left;
	margin-right: 4%;
	line-height: 2;
}
.contact .left p{
	margin-top: 0;
}
.contact .left i{
	padding: 0px 10px 0px 0px;
}
.contact .right{
	float: right;
	width: 48%;
	margin-right: 0%;
}
.contact .right input,
.contact .right textarea{
	width: 100%;
	padding: 10px 16px;
	margin: 10px 0;
	border: none;
	outline: none;
	border-radius: 5px;
	background: rgba(255,255,255,0.6);
}
::-webkit-input-placeholder{
	color: #000;
}
::-moz-placeholder{
	color: #000;
}
/*
 footer
 * */
footer{
	text-align: center;
}
